/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}

/*=================================================================================
                        General settings
=====================================================================================*/

html{ 
   font-size: 1px;/*for using REM units*/
}

body{
   font-family: "Open Sans", sans-serif;
   font-size: 16rem;
   font-weight: 300;
   line-height: 1.3;
   color: #222;
   margin: 0;
}


img {
   max-width: 100%;
   display: block;
}



/*=======================================================================================                  
                              Typography 
  =======================================================================================*/

  h1 {
     font-family: 'Arapey', sans-serif;
  }

  h2, h3, button {
     font-family: "Shippori Mincho", serif ;
  }

  p {
     font-family: "Open Sans", sans-serif;
  }

 



  /*========================================================================================
                                 Layout
  ===========================================================================================*/

  .container, .colored-banner {
     max-width: 900px;
     width: 90%;
     margin: 0 auto;
   }

   header {
      text-align: center;
   }

   footer {
      text-align: center;
      color: #fff;
   }

   /*Navigation*/

   .colored-banner {
      width: 100%;
      background-color: #EFD2C2;
      color: #fff;
      font-weight: 300;
   }

   .logos-container {
      display: flex;
      justify-content: space-around;
      font-size: 31rem;
      padding: 0.5em 0;
   }

   .loc-logo {
      padding-right: 0.5em;
   }

   .location-logos-container {
      display: flex;
      color: #F4F4F4;
   }

   .globe-logo {
      color: #747474;
   }

   nav {
      background-color: #F3F2F0;
      margin-bottom: 3em;
   }

   nav ul {
      display: flex;
      flex-direction: column;
      padding: 1em 0;
   }

   nav li {
      padding-bottom: 2em;
    }

   nav a {
      color: #707070;
      font-size: 16rem;
      font-weight: 400;
      cursor: pointer;
      border-bottom: 1px solid;
    }

    /*Main Title*/

    .header-img {
      border-radius: 9%;
    }

    .header-title {
       margin: 3em 0;
    }

    .second-title {
      border-top: 1px solid;
      margin: 0 6em;
      padding-top: 1em;
   }

   h1 {
      font-size: 34rem;
      margin-bottom: .5em;
   }


    /*======================================================================
                           Media Queries
    =========================================================================*/

    @media(min-width: 900px) {

      /*Typography*/

      a {
         font-size: 12rem;
      }

      /*Navigation*/

      nav {
         height: 39vh;
      }

      .logos-container {
         justify-content: space-around;
         font-size: 48rem;
         padding: 0.5em 0;
      }

      .location-logos-container {
         justify-content: space-evenly;
         width: 31%;
         color: #F4F4F4;
      }

      nav ul {
         display: flex;
         justify-content: flex-end;
         margin-right: 6em;
         padding-top: 2em;
      }

      nav li {
         margin-left: 2em;
      }

      nav a {
         padding: .25em 0;
       }
   


    }




